<% if @articles.empty? %>
	<span class="text-warning">
		There are no articles yet!
	</span>
<% else %>
	<div class="panel panel-default">		
		<div class="panel-heading">
			Articles
		</div>
		<div class="panel-body">
			<ul class="list-group">
				<% @articles.each do |article| %>
					<li class="list-group-item">
						<h2><%= link_to article.title, article_path(article) %></h2>
						<%= link_to article_path(article), { :action => 'show', :controller => 'articles' }, remote: true, class: "btn btn-inverse btn-hover pull-right" do %>
							<span class="glyphicon glyphicon-thumbs-up"></span>
							<% end %>
						<%= link_to article_path(article), method: :delete,  data: { confirm: "Are you sure you want to delete this article?" }, remote: true, class: "delete_article btn btn-inverse btn-hover pull-right" do %>
							<span class="glyphicon glyphicon-remove"></span>
							<% end %>
							<%= link_to edit_article_path(article), remote: true, class: "btn btn-inverse btn-hover pull-right" do %>
							<span class="glyphicon glyphicon-edit"></span>
						<% end %></br>
						<%= article.body.truncate(35, separator: ' ') %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>